# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Build artifacts
*.egg-info/
build/
dist/

# Virtual env
venv/
env/
penv/
.venv

# OS files
.DS_Store

# IDE files
.idea/
.vscode/

# Debug files
debug_live.py
payloads/
